streamlit
openai
python-dotenv
langchain
langchain-google-genai
# Pin chromadb to a specific version
chromadb==0.4.24
pysqlite3-binary
sentence-transformers
tqdm
typing-extensions
concurrent-log-handler
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==2.3.0+cpu # Or your chosen compatible CPU version
transformers
accelerate
pypdf
langchain-community
google-generativeai
gdown
